.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs a {
    color: black;
    text-decoration: none;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}